.nav{
  /* width: 100vw; */
  overflow-x: hidden;
  /* background-color: pink; */
  padding: 10px 20px;
}

.nav div img{
  width: 400px;
  object-fit: cover;
  margin: 0xp 0px 0px 20px;
}


button{
  padding:27px 12pxp;
  background-color: #404bc9;
  border:none;
  outline: none;
  font-size: 20px;
  color:white;
  display: inline-block;
  cursor: pointer;
  width: max-content;
}


.center{
  display: flex;
  justify-content: center;
  width: 100vw;
  /* background-color: aquamarine; */
  flex-direction: column;
}