/* Calendar */


/* custom-calendar.css */

.rbc-month-row,
.rbc-row-bg {
    height: 20vh !important;
}

.rbc-calendar {
    /* border:1px solid #d4dae094; */
    padding: 20px 32px !important;
    border-radius: 8px !important;
    font-weight: 600px !important;
}

.rbc-month-view {
    border-radius: 12px !important;
    margin-top: 20px !important;
}

.rbc-row .rbc-month-header {
    padding: 28px 12px !important
}

.rbc-header span {
    font-weight: 500 !important;
    /* font-weight: lighter; */
    font-size: 16px;
    padding: 10px 12px !important
}


/* Customize the calendar header */

.rbc-toolbar {
    /* background-color: #4A90E2; */
    color: black;
    padding: 10px;
    /* font-size: 18px; */
    /* font-weight: bold; */
}

.rbc-toolbar-label {
    font-size: 18px;
    font-weight: 500
}


/* Customize the navigation buttons */

.rbc-btn-group .rbc-active {
    padding: 8px 17px !important;
    outline: none !important;
    background-color: #3e4093 !important;
    color: #ffff !important;
    transition: all 250ms ease-in-out
}

.rbc-btn-group>button {
    padding: 8px 17px !important;
    transition: all 250ms ease-in-out;
    outline: none !important;
    /* background-color:black !important; */
    color: #353333 !important
}

.rbc-btn-group button:hover {
    background-color: #3e3f9343 !important;
    /* color: white !important; */
}


/* Customize the days' background color */

.rbc-day-bg {
    /* background-color: yellow; */
    padding: 10px !important
}


/* Customize today's background */

.rbc-today {
    /* background-color: #FEE2E2 !important; */
}


/* Customize the event color */

.rbc-event {
    background-color: #2ECC71;
    color: white;
    border-radius: 4px;
}

.rbc-day-bg {
    /* border: 1px; */
    border: 1px solid rgba(237, 238, 238, 0.446);
    border-radius: 4px;
    margin: 0px;
    padding: 10px
}


/* Customize event title font size */

.rbc-event-content {
    font-size: 14px;
    color: #E4E6E9 !important
}


/* Customize the calendar grid border */

.rbc-month-view,
.rbc-time-view {
    border: 1px solid #D1D5DB;
}


/* Customize the time slot labels */

.rbc-row .rbc-month-header {
    font-size: 14px !important;
}

.rbc-time-header {
    /* background-color: #E5E7EB; */
    /* font-weight: bold; */
}